.LoadingScreen {
  position: fixed;
  // z-index: ${zIndex("absoluteTop")};
  z-index: 10000;
  inset: 0 0 50vh 0;

  &[data-theme="dark"] {
    background: var(--black);
  }

  &[data-theme="light"] {
    background: var(--white_50);
  }
}
