.ScrollIndicator {
  position: fixed;
  inset: 0 0 auto 0;
  /* z-index: ${zIndex("absoluteTop")}; */
  z-index: 100000;

  width: 100vw;
  height: 8px;
  background: var(--primary);

  transform-origin: left;
  transform: scaleX(0);

  @media (prefers-reduced-motion) {
    display: none;
  }
}
