@import "styled/fonts.scss";
@import "styled/mediaQueries.scss";

.AuthorDetailsWrapper {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, auto) 1fr;
  grid-auto-flow: column;
  column-gap: 16px;
  align-items: end;
  margin: 24px 0;
  width: 100%;
}

.Thumbnail {
  border-radius: 50%;
  background-color: var(--background);
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.Details {
  display: grid;
  row-gap: 4px;
}

.AuthorName {
  @include small;
  color: var(--primary);
  font-weight: bold;
}

.Row {
  display: flex;
  column-gap: 8px;
  align-items: center;

  @include tablet {
    column-gap: 16px;
  }
}

.secondarySmall {
  @include small;
  color: var(--primary_75);
}

.CreatedAt {
  @include small;
  text-transform: uppercase;
}

.ReadingTime {
  display: none;
  @include small;

  @include tablet {
    display: initial;
  }
}

.MobileReadingTime {
  display: initial;

  @include tablet {
    display: none;
  }
}

.Dot {
  border-radius: 100%;
  background-color: var(--primary_75);
  width: 4px;
  height: 4px;
}

.CopyLink {
  justify-self: end;
  transition: 0.3s ease-in-out;
  color: var(--primary_75);

  &:hover {
    color: var(--primary);
  }
}
