@import "./fonts.scss";
@import "./palette.scss";

html {
  font-size: calc(100vw / 1512 * 10);
  --vh: 1vh;

  [data-theme="light"] {
    --background: $white;
    --primary: $black;
    --primary_20: $black_20;
    --primary_50: $black_50;
    --primary_75: $black_75;
    --secondary: $gray;
  }

  [data-theme="dark"] {
    --background: $codGray;
    --primary: $white;
    --primary_20: $white_20;
    --primary_50: $white_50;
    --primary_75: $white_75;
    --secondary: $gray;
  }
}

body {
  background-color: var(--background);
  color: var(--primary);
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  font-family: $helvetica;
  @include body;
}

a,
button {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

del,
s {
  color: var(--primary_50);
  text-decoration: line-through;
}

mark {
  padding: 0.1em;
}

.hidden {
  display: none;
}

::selection {
  background-color: yellow;
  color: black;
}

:focus-visible {
  transition: outline-offset 0.3s ease-in-out;
  outline: 1px solid;
  outline-offset: 0.25em;
  border-radius: 4px;
}
