@import "styled/mediaQueries.scss";

.ShortcutCueWrapper {
  all: unset;
  display: none;

  @include desktop {
    display: block;

    border: 1px solid var(--black_50);
    border-radius: 4px;
    padding: 4px;

    width: min-content;
    color: var(--primary_75);
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
