.AnchorTagWrapper {
  transition: 0.4s ease-in-out;
  color: var(--primary);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  text-underline-offset: 0.25rem;

  &:hover,
  :focus-visible {
    &[data-theme="light"] {
      text-decoration-color: hotpink;
    }

    &[data-theme="dark"] {
      text-decoration-color: yellow;
    }
  }
}
